{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% for result in Driver %}
        {{ result.username }}
    {% endfor %}
{% if user.is_authenticated %}
  Hi {{ user.username }}!
   <p> Sei un amministratore! <a href="{% url 'admin:index' %}">Gestisci qui i tuoi database</a></p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% elif driver %}
      <p> Hi {{ driver.username }}</p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}