
{% load modulo %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'main.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Negozi Giro</title>
</head>
<body id="negozi">
<section class="box special features" style="margin-bottom: 0px;">

                        {% for result in market %}
                            {% if forloop.counter|modulo:2 == 1  %}
                                <div class="features-row">
                            {% endif %}

                                <section>
                                    <a class='fa fa-map-marker' style="font-size:48px;" href="{% url 'inizio_consegna' result.id_negozio %}" onclick="openGoogleMaps({{ result.latitudine }},{{ result.longitudine }})"></a>
                                    <h3>{{ result.nome_negozio }}</h3>
                                    <p> {{ result.indirizzo }}</p>
                                    <p> Fascia di consegna: {{ result.inizio_fascia_consegna }} - {{ result.fine_fascia_consegna }} </p>
                                    <ul class="actions special">
                                    <li><button class="button primary" onclick="handleButtonClick({{ trip_id }})">Consegna Effettuata</button></li>
                                        </ul>
                                </section>
                            {% if forloop.counter|modulo:2 == 0  %}
                                </div>
                            {% endif %}

                        {% endfor %}
					</section>
<script>
    var buttons = document.getElementsByClassName('button primary');
    var currentButtonIndex = 0;

    function openGoogleMaps(latitudine,longitudine){
        window.open('https://www.google.com/maps?q='+ latitudine + ',' + longitudine, '_blank');
    }

    function handleButtonClick(trip_id) {


            buttons[currentButtonIndex].disabled = true;

            currentButtonIndex++;
            if (currentButtonIndex < buttons.length) {
                buttons[currentButtonIndex].disabled = false;
            }
            else {
                window.location.href = '{% url 'fine' %}';
            }

            window.location.href = '{% url 'consegna_effettuata' 0 %}'.replace('0',trip_id)

    }
    for (var i = 0; i < buttons.length; i++){
        if(i != {{ market_id }})
            buttons[i].disabled = true;
    }
</script>
</body>
</html>

{% endblock %}



