
{% block content %}
{% load static %}
<html>
	<head>
		<title>Fine Giro</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel = "stylesheet" type = "text/css" href = "{% static 'main.css' %}" />
	</head>
	<body class="landing is-preload">
		<div id="page-wrapper">


			<!-- Main -->
				<section id="banner">
						<h2>Hai terminato il giro di consegne!</h2>


									<ul class="actions special">
										<li><a href="{% url 'logout' %}" class="button primary">Logout</a></li>
									</ul>
				</section>



		</div>
	</body>
</html>
{% endblock %}