{% block content %}
    {% load modulo %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
     <link rel="stylesheet" href="{% static 'main.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Negozi Giro</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body id="negozi">
<section class="box special features" style="margin-bottom: 0px;">

                        {% for result in market %}
                            {% if forloop.counter|modulo:2 == 1  %}
                                <div class="features-row">
                            {% endif %}

                                <section>
                                    <a class='fa fa-map-marker' style="font-size:48px;" href="{% url 'inizio_consegna' result.id_negozio %}" onclick="openGoogleMaps({{ result.latitudine }},{{ result.longitudine }})"></a>
                                    <h3>{{ result.nome_negozio }}</h3>
                                    <p> {{ result.indirizzo }}</p>
                                    <p> Fascia di consegna: {{ result.inizio_fascia_consegna }} - {{ result.fine_fascia_consegna }} </p>
                                    <ul class="actions special">
                                        <li><button class="button primary 1" onclick="handleChange({{ market_id }})">In fase di consegna</button></li>
                                    <li><button class="button primary 2" onclick="handleButtonClick({{ trip_id }})">Consegna Effettuata</button></li>
                                        </ul>
                                </section>
                            {% if forloop.counter|modulo:2 == 0  %}
                                </div>
                            {% endif %}

                        {% endfor %}
					</section>
<script>
    let buttons_1 = document.getElementsByClassName('button primary 1');
    let buttons_2 = document.getElementsByClassName('button primary 2');

    let currentButtonIndex = 0;

    function generateRandom(min,max){
        return Math.random() * (max-min) + min;
    }

    setInterval(generate, 5000);

    function generate(){
        let temp_value = generateRandom(-20,5);
        let accelerometer_value = generateRandom(0,45);
        $.ajax({
            url:'{% url 'send_telegram_message' %}',
            data:{
                'temperature': temp_value,
                'accelerometer': accelerometer_value,
                'market_id':{{ market_id }},
            },
            dataType:'json',
            success: function(){
            }
        })
    }
    function openGoogleMaps(latitudine,longitudine){
        window.open('https://www.google.com/maps?q='+ latitudine + ',' + longitudine, '_blank');
    }

    function handleButtonClick(trip_id) {
        window.location.href = '{% url 'consegna_effettuata' 0 %}'.replace('0',trip_id)
    }
    for (let i = 0; i < buttons_1.length; i++){
        if(i != {{ market_id }})
            buttons_1[i].disabled = true;
        buttons_2[i].disabled = true;

    }
    function handleChange(id) {
        buttons_1[id].disabled = true;
        buttons_2[id].disabled = false;
    }


	let ax = 0, ay = 0, az = 0;


if (window.DeviceMotionEvent != undefined) {
        window.ondevicemotion = function(e) {
                ax = e.accelerationIncludingGravity.x;
                ay = e.accelerationIncludingGravity.y;
        az = e.accelerationIncludingGravity.z;
        }
    let incidente = false;
    setInterval( function() {
        let totalAcceleration= Math.sqrt(ax*ax + ay*ay + az*az);
        let threshold = 30;
        if (incidente == false && !buttons_2[{{ market_id }}]) {
                if (totalAcceleration > threshold){
                        $.ajax({
                                url:'{% url 'urto' %}',
                                data:{
                                        'market_id':{{ market_id }},
                                },
                                dataType:'json',
                                success: function(){
                                }
                        })
                        incidente = true;
                }
        }
    }, 25);
}



</script>
</body>
</html>

{% endblock %}



