

{% block content %}
    {% load modulo %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
     <link rel="stylesheet" href="{% static 'main.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Negozi Giro</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body id="negozi">
<section class="box special features" style="margin-bottom: 0px;">

                        {% for result in market %}
                            {% if forloop.counter|modulo:2 == 1  %}
                                <div class="features-row">
                            {% endif %}

                                <section>
                                    <a class='fa fa-map-marker' style="font-size:48px;" href="{% url 'inizio_consegna' result.id_negozio %}" onclick="openGoogleMaps({{ result.latitudine }},{{ result.longitudine }})"></a>
                                    <h3>{{ result.nome_negozio }}</h3>
                                    <p> {{ result.indirizzo }}</p>
                                    <p> Fascia di consegna: {{ result.inizio_fascia_consegna }} - {{ result.fine_fascia_consegna }} </p>
                                    <ul class="actions special">
                                    <li><button class="button primary" onclick="handleButtonClick({{ trip_id }})">Consegna Effettuata</button></li>
                                        </ul>
                                </section>
                            {% if forloop.counter|modulo:2 == 0  %}
                                </div>
                            {% endif %}

                        {% endfor %}
					</section>
<script>
    let buttons = document.getElementsByClassName('button primary');
    let currentButtonIndex = 0;

    function generateRandom(min,max){
        return Math.random() * (max-min) + min;
    }

    setInterval(generateTemp, 5000);

    function generateTemp(){
        let temp_value = generateRandom(-20,5);
        $.ajax({
            url:'{% url 'send_telegram_message' %}',
            data:{
                'temperature': temp_value,
                'market_id':{{ market_id }},
            },
            dataType:'json',
            success: function(){
            }
        })
    }
    function openGoogleMaps(latitudine,longitudine){
        window.open('https://www.google.com/maps?q='+ latitudine + ',' + longitudine, '_blank');
    }

    function handleButtonClick(trip_id) {
        window.location.href = '{% url 'consegna_effettuata' 0 %}'.replace('0',trip_id)
    }
    for (let i = 0; i < buttons.length; i++){
        if(i != {{ market_id }})
            buttons[i].disabled = true;
    }

    var x = 0, y = 0,
    vx = 0, vy = 0,
	ax = 0, ay = 0;


    alert(window.DeviceMotionEvent);
if (window.DeviceMotionEvent != undefined) {
	window.ondevicemotion = function(e) {
		ax = e.accelerationIncludingGravity.x * 5;
		ay = e.accelerationIncludingGravity.y * 5;
        az = e.accelerationIncludingGravity.z * 5;

		if ( e.rotationRate ) {
			alert('urto');
		}
	}

	setInterval( function() {
		var landscapeOrientation = window.innerWidth/window.innerHeight > 1;
		if ( landscapeOrientation) {
			vx = vx + ay;
			vy = vy + ax;
		} else {
			vy = vy - ay;
			vx = vx + ax;
		}
		vx = vx * 0.98;
		vy = vy * 0.98;
		y = parseInt(y + vy / 50);
		x = parseInt(x + vx / 50);

		boundingBoxCheck();

    var i;
    for (i = 0; i < x.length; i++) {
        x[i].style.top = y + "px";
    		x[i].style.left = x + "px";
    }

	}, 25);
}
else{
    alert('no accelerometer');
}


function boundingBoxCheck(){
	if (x<0) { x = 0; vx = -vx; }
	if (y<0) { y = 0; vy = -vy; }
	if (x>document.documentElement.clientWidth-20) { x = document.documentElement.clientWidth-20; vx = -vx; }
	if (y>document.documentElement.clientHeight-20) { y = document.documentElement.clientHeight-20; vy = -vy; }

}

</script>
</body>
</html>

{% endblock %}



